In [1]:
import bec1db as db
import pandas as pd

In [2]:
tul = db.Tullia()

Updating the local database...
Done

In [3]:
df = pd.read_clipboard(names=['blah'])
images=['11-19-2016_21_40_03_TopA','11-19-2016_21_40_03_TopB','11-19-2016_21_39_15_TopA','11-19-2016_21_39_15_TopB','11-19-2016_21_38_26_TopA','11-19-2016_21_38_26_TopB','11-19-2016_21_37_37_TopA','11-19-2016_21_37_37_TopB','11-19-2016_21_36_49_TopA']
params = ['ImagFreq1', 'ImagFreq2','IREvap','RF23_Center','RFspect','FB_field_13']
out = tul.image_query(images,params)
out

,FB_field_13,IREvap,ImagFreq1,ImagFreq2,RF23_Center,RFspect,imagename
0,3.556,0.75,149.9,189.4,84.02,76.0275,11-19-2016_21_40_03_TopA
1,3.556,0.75,149.9,189.4,84.02,76.0275,11-19-2016_21_40_03_TopB
2,3.556,0.75,149.9,189.4,84.02,76.0270,11-19-2016_21_39_15_TopA
3,3.556,0.75,149.9,189.4,84.02,76.0270,11-19-2016_21_39_15_TopB
4,3.556,0.75,149.9,189.4,84.02,76.0265,11-19-2016_21_38_26_TopA
5,3.556,0.75,149.9,189.4,84.02,76.0265,11-19-2016_21_38_26_TopB
6,3.556,0.75,149.9,189.4,84.02,76.0260,11-19-2016_21_37_37_TopA
7,3.556,0.75,149.9,189.4,84.02,76.0260,11-19-2016_21_37_37_TopB
8,3.556,0.75,149.9,189.4,84.02,76.0255,11-19-2016_21_36_49_TopA

In [4]:
df = pd.read_clipboard(names=['blah'])
images=['11-19-2016_21_40_03_TopA','11-19-2016_21_40_03_TopB','11-19-2016_21_39_15_TopA','11-19-2016_21_39_15_TopB','11-19-2016_21_38_26_TopA','11-19-2016_21_38_26_TopB','11-19-2016_21_37_37_TopA','11-19-2016_21_37_37_TopB','11-19-2016_21_36_49_TopA']
out = tul.image_query(images)
out

,1to6sweepcent,ac_image,ac_imprint,axialgradramp,axialgradvolt,axiconshakeoffset,axshakeamp,b0tof,backtime_25,beatfreq,...,waitforslosh,waittime,waittime2,wiatevap,wt,year,yellowramp,yellowramptime,yellowshakeamplitude,yellowshakecarrier
0,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
1,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
2,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
3,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
4,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
5,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
6,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
7,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None
8,58.76,0.0,0.0,None,None,None,None,8.0,None,973.5,...,0.0,10000.0,None,1000.0,None,2016.0,None,None,None,None